$gradient_first: #535353;
$gradient_end: #3e3e3e;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #454545;
  color: #d7d7d7;
  overflow: hidden;
  font: 11px arial, helvetica, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", clean, sans-serif;
}

#container {
  padding: 10px 10px 5px 10px;
  position: relative;
}

$button_width: 30px;
button {
  padding: 1px 0;
  width: $button_width;
  color: #d7d7d7;
  font-size: 16px;
  border: 1px solid #151515;
  background: -webkit-linear-gradient(top, $gradient_first, $gradient_end);

  &:enabled:hover {
    &:hover {
      background: -webkit-linear-gradient(top, #636363, #4e4e4e);
    }
    &:active{
      border: 1px solid #c69100;
    }
  }
  &:disabled{
    color: #686868;
  }
}

input {
  border: 1px solid #000000;
  font-size: 12px;
  box-sizing: border-box;
}

button {
  padding: 5px;
}


ul{
  list-style: none;
}
li{
  float: left;
  margin-right: 5px;
}

#remove{
}
#added_frames{
  width: 40px;
  height: 30px;
  text-align: center;
}

.clear_both {
  clear: both;
}

